mixin header(link)
	header
		.headerLogo
			a(href="index.html")
				img(src="img/logoCrop.png", alt="")
		.right
			.language-selector
				p Choose language:
				p
					a(href=link) english
				p.selected russian
			.headText
				a(href="index.html")
					p.
						ACCESS <span>BARS</span> и <span>FACELIFT</span>