mixin header(link)
	header
		.headerLogo
			a(href="indexEng.html")
				img(src="img/logoCrop.png", alt="") 
		.right
			.language-selector
				p Choose language:
				p.selected english
				p
					a(href=link) russian
			.headText
				a(href="indexEng.html")
					p.
						ACCESS <span>BARS</span> and <span>FACELIFT</span>