section.price
	.imgContainer
		img(src="img/works-separator-background.png" alt="")
	p.
		<b>Price:</b><br>
		Now 1500 rupees <i>for the first clients</i><br>
		After that, the price will be raised to 3500 rupees.
	.bitcoin
		.bitcontainer
			p <span>Accepting bitcoin:</span>
			img(src="img/btcQR.png", alt="")
			p <span>3Kznb8Z4skuUZp6rJJTKG91UMz9jn42Yno</span>
	.imgContainer
		img(src="img/works-separator-background.png" alt="")
