section.price
	.imgContainer
		img(src="img/works-separator-background.png" alt="")
	p.
		<b>Стоимость:</b><br>
		сейчас 1500 рупий <i>для первых клиентов</i><br>
		далее цена будет поднята до 3500 рупий
	.bitcoin
		.bitcontainer
			p <span>Принимаем биткоин:</span>
			img(src="img/btcQR.png", alt="")
			p <span>3Kznb8Z4skuUZp6rJJTKG91UMz9jn42Yno</span>
	.imgContainer
		img(src="img/works-separator-background.png" alt="")
