* {
  font-family: 'Lora', serif;
  font-size: 25px; }

body a {
  text-decoration: none;
  color: black; }
  body a:visited {
    color: black; }

body p {
  margin: 0 0 10px 0; }
  body p span {
    color: orange; }

body .nextPage, body .prevPage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  body .nextPage a, body .prevPage a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #009AD0; }
    body .nextPage a img, body .prevPage a img {
      height: 15px;
      width: auto; }

body h1 {
  font-size: 65px;
  color: red;
  margin-top: 25px; }
  body h1 span {
    font-size: 65px;
    color: orange; }

body h2 {
  font-size: 40px; }
  body h2 span {
    font-size: 40px;
    color: orange; }

body h3 {
  color: orange; }

body h4 {
  font-size: 30px;
  color: #BD8913; }

body h5 {
  color: blue;
  font-size: 30px; }

body .card img {
  margin: 10px auto 0;
  width: 200px;
  height: 200px; }

body .row {
  margin: 50px 0; }

header {
  margin-top: 50px; }
  header a img {
    max-width: 100%; }
  header .language-selector {
    font-size: 25px;
    line-height: 1.5em; }
    header .language-selector p {
      color: #009AD0; }

main .mainImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative; }

main .mainImgMobile {
  display: none; }

main .bigMainImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

main .nextFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  main .nextFlex h1 {
    margin: 0 auto; }
  main .nextFlex p {
    margin-bottom: 10px; }
  main .nextFlex blockquote {
    margin-bottom: 10px; }

main .price img {
  max-height: 200px; }

main .signUp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  main .signUp img {
    max-width: 100%; }
  main .signUp h1 {
    white-space: nowrap; }

main .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  main .contacts .imgContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    main .contacts .imgContainer img {
      height: 50px;
      width: auto; }

footer {
  padding: 10px 0;
  background: #f3f3bc; }
  footer .row {
    margin: 0; }
  footer .aboutMe img {
    opacity: 0.5; }
  footer .goaExcursions img {
    width: 250px; }

/*# sourceMappingURL=style.css.map */
