include includes/headerEng
<!DOCTYPE html>
html(lang="en")
	include includes/headEng
	body
		.gridContainer
			.topLine
			+header("bigMainImg.html")
			main
				include includes/prevPageEng
				.bigMainImg
					img(src="img/mainEng.jpg")
				include includes/prevPageEng
				include includes/priceEng
				include includes/signUpEng
				include includes/contacts
			include includes/footerEng
