include includes/header
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.gridContainer
			.topLine
			+header("bigMainImgEng.html")
			main
				include includes/prevPage
				.bigMainImg
					img(src="img/main.jpeg")
				include includes/prevPage
				include includes/price
				include includes/signUp
				include includes/contacts
			include includes/footer
