include includes/header
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.gridContainer
			.topLine
			+header("introductionEng.html")
			main
				include includes/prevPage
				.nextFlex
					h1 <b>Введение в <span>Access Consciousness®</span>.</b>
					p <span>Access</span> - набор инструментов и техник, которые разработаны для того, чтобы способствовать осознанности и сознанию в большей мере у каждого из нас. Осознанность включает все, без суждения. Это желание и способность быть полностью осознанным и всецело присутствовать во всех областях вашей жизни. Осознанность - способность постоянно открываться большим возможностям, большему выбору и жизни в большей степени.
					p Предложение <span>Access</span> заключается в том, чтобы помочь вам признать себя как безграничное существо, которым вы на самом деле являетесь, и начинать создавать свою жизнь вне того «я», каким вы себя видите. Как безграничное существо вы действуете от бесконечного восприятия, знания, присутствия и получения. Для безграничного существа все возможно в любое время и у вас есть полный выбор.
					p Как ограниченное существо вы склонны действовать исходя из мыслей, чувств и эмоций. <span>Access Consciousness®</span> предлагает Вам освобождение от полярности, заключений, условностей и ограничений ваших мыслей, чувств и эмоций. Когда мы действуем от ограниченности у нас небольшой выбор и ограниченные возможности.
					p Полярность удерживает нас от того, чтобы видеть вещи такими, какими они на самом деле являются, таким образом, мы не можем изменить то, что мы хотели бы изменить. Она заставляет нас и дальше действовать исходя из травм и драм, тревог и интриг этой реальности. Наша зависимость от полярности - одна из самых сильных пагубных привычек.
					p Один из самых действующих методов освобождения от этой пагубной привычки - это действовать исходя из позволения. Позволение - это когда все - только интересная точка зрения. Позволение дает нам возможность осознать все области нашей жизни, где мы либо подстраиваемся и соглашаемся, либо сопротивляемся и реагируем на любые точки зрения, мысли, чувства, эмоции, убеждения, суждения, заключения или рассмотрения.
					p Мы можем начать освобождать себя, напоминая себе, что все, что мы думаем, ощущаем, все. во что мы верим, что осуждаем или решения, которые мы принимаем - только интересная точка зрения.
					blockquote 
						p «Осознанность - способность присутствовать в каждый момент вашей жизни, без осуждения себя или кого-либо еще. Это - способность получить все, не отвергая ничего, и создавать все, что вы желаете в жизни. Иметь больше, чем то, что в настоящий момент у вас есть, и больше чем то, что вы можете вообразить.»
						cite Гэри Дуглас, основатель Access Consciousness®
				include includes/prevPage
				include includes/price
				include includes/signUp
				include includes/contacts
			include includes/footer

