include includes/headerEng
<!DOCTYPE html>
html(lang="en")
	include includes/headEng
	body
		.gridContainer
			+header("mainDescription.html")
			main
				include includes/prevPageEng
				.nextFlex
					p.
						Is it possible to feel and look younger WITHOUT injections, Botox, acupuncture and other injuries for your body? YES!
					p.
						<span>Access Facelift™</span> - is a wonderful way to rejuvenate the face and reverse the signs of aging on the face and throughout the entire body. If you repeat this process several times (at least 20 times), the result may be permanent.
					p.
						<i><span>Access Facelift™</span> differs from other alternatives in that it is softer, more beneficial and easier for you and your body. What could it be even better than that?</i>
					p.
						During this training, you will receive a full session of energy face lifting, and also learn to give it to others.
					p.
						<span>Access Consciousness Facelift™</span> professionally provided in sanatoriums, massage parlors, anti-aging centers, beauty salons, plastic surgery clinics and wellness centers around the world.
				include includes/prevPageEng
				include includes/priceEng
				include includes/signUpEng
				include includes/contacts
			include includes/footerEng
