include includes/header
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.gridContainer
			+header("mainDescriptionEng.html")
			main
				include includes/prevPage
				.nextFlex
					p.
						Возможно ли чувствовать и выглядеть моложе БЕЗ инъекций, ботокса, иглоукалывания и создания других травм для вашего тела? ДА!
					p.
						<span>Access Facelift™</span> - это удивительный процесс, который может обратить проявление старения на лице, а также во всем теле. Если повторить этот процесс несколько раз (по крайней мере, 20 раз), результат может быть постоянным.
					p.
						<i><span>Access Facelift™</span> отличается от других альтернатив тем, что он мягче, благотворнее и легче для вас и вашего тела. Как может быть еще лучше чем это?</i>
					p.
						В течении этого тренинга вы получите полную сессию энергетического лифтинга лица, а также научитесь давать ее другим.
					p.
						<span>Access Consciousness Facelift™</span> профессионально предоставляется в санаториях, массажных салонах, anti-aging центрах, косметических салонах, клиниках пластической хирургии и велнес-центрах по всему миру.
				include includes/prevPage
				include includes/price
				include includes/signUp
				include includes/contacts
			include includes/footer
