include includes/headerEng
<!DOCTYPE html>
html(lang="ru")
	include includes/headEng
	body
		.gridContainer
			.topLine
			+header("target.html")
			main
				include includes/prevPageEng
				.nextFlex
					h1 Goal of <span>Acess:</span>
					p Goal of <span>Access</span> do not destroy this reality.
					p Goal of <span>Access</span> not fight again this reality.
					p Goal of <span>Access</span> not to see the incorrectness of this reality.
					p Goal of <span>Access</span> is the creation of another reality.
					p Goal of <span>Access</span> is to create the world as a larger set of options and a larger set of opportunities so that all of humanity can flourish.
				include includes/prevPageEng
				include includes/priceEng
				include includes/signUpEng
				include includes/contacts
			include includes/footerEng
