include includes/header
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.gridContainer
			.topLine
			+header("targetEng.html")
			main
				include includes/prevPage
				.nextFlex
					h1 Цель <span>Acess:</span>
					p Цель <span>Access</span> не уничтожить эту реальность.
					p Цель <span>Access</span> не бороться с этой реальностью.
					p Цель <span>Access</span> не в том, чтобы видеть неправильность этой реальности.
					p Целью <span>Access</span> является создание другой реальности.
					p Цель <span>Access</span> состоит в том, чтобы создать мир как больший набор вариантов и больший набор возможностей, так чтобы все человечество могло процветать.
				include includes/prevPage
				include includes/price
				include includes/signUp
				include includes/contacts
			include includes/footer
